<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    h2{
        margin-top: 70px;
        margin-left: 46px;
    }
</style>
<body>


     <h2>{{>header}} </h2>
    <h2>{{desc}}</h2>
    <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
        </form>
          <p id="location"></p>
          <p id="forecast"></p>
          <p id="error"></p>
          
          <script src="/script.js"></script>


    
</body>
</html>